<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalendarApp2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>390101691BDBF473004B6E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>390101801BDBF473004B6E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3901018B1BDBF473004B6E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
